In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("Andbrain_DataSet.csv",delimiter=",")

In [4]:
data

,word,disgust,surprise,neutral,anger,sad,happy,fear
0,ability,0.004464,0.047832,0.000638,0.023597,0.013393,0.015944,0.040179
1,able,0.000017,0.000182,0.000409,0.000176,0.000219,0.000244,0.000186
2,abuse,0.000532,0.000177,0.000177,0.137363,0.001241,0.001595,0.002659
3,academy,0.007143,0.021429,0.007143,0.007143,0.007143,0.092857,0.035714
4,accept,0.008271,0.006767,0.000752,0.048872,0.018797,0.024812,0.038346
...,...,...,...,...,...,...,...,...
1099,wrong,0.001244,0.004231,0.000083,0.116725,0.009209,0.002904,0.008877
1100,yeah,0.001401,0.037815,0.001401,0.021008,0.026611,0.032213,0.029412
1101,yesterday,0.002841,0.028003,0.000406,0.015016,0.032062,0.042614,0.023945
1102,zero,0.004762,0.033333,0.004762,0.033333,0.033333,0.004762,0.052381
1103,zoom,0.017857,0.053571,0.017857,0.017857,0.017857,0.089286,0.017857

In [21]:
data.iloc[1]

word              able
disgust     1.73222e-05
surprise    0.000182393
neutral       0.0004086
anger       0.000176279
sad         0.000219075
happy        0.00024353
fear        0.000186468
Name: 1, dtype: object

In [19]:
s=0
for i in range(len(data)):
    s+=data.iloc[i][1]

In [20]:
s

14.141157655100313